::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  }
  
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  }